<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommonDomains</key>
	<array>
		<string>gmail.com</string>
		<string>googlemail.com</string>
		<string>yahoo.com</string>
		<string>yahoo.co.uk</string>
		<string>yahoo.co.in</string>
		<string>yahoo.ca</string>
		<string>ymail.com</string>
		<string>hotmail.com</string>
		<string>hotmail.co.uk</string>
		<string>msn.com</string>
		<string>live.com</string>
		<string>outlook.com</string>
		<string>comcast.net</string>
		<string>sbcglobal.net</string>
		<string>bellsouth.net</string>
		<string>verizon.net</string>
		<string>earthlink.net</string>
		<string>cox.net</string>
		<string>rediffmail.com</string>
		<string>charter.net</string>
		<string>facebook.com</string>
		<string>mail.com</string>
		<string>gmx.com</string>
		<string>aol.com</string>
		<string>att.net</string>
		<string>mac.com</string>
		<string>rocketmail.com</string>
	</array>
	<key>CommonTLDs</key>
	<array>
		<string>com</string>
		<string>net</string>
		<string>ru</string>
		<string>org</string>
		<string>de</string>
		<string>uk</string>
		<string>jp</string>
		<string>ca</string>
		<string>fr</string>
		<string>au</string>
		<string>br</string>
		<string>us</string>
		<string>info</string>
		<string>cn</string>
		<string>dk</string>
		<string>edu</string>
		<string>gov</string>
		<string>mil</string>
		<string>ch</string>
		<string>it</string>
		<string>nl</string>
		<string>se</string>
		<string>no</string>
		<string>es</string>
		<string>me</string>
	</array>
	<key>IANARegisteredTLDs</key>
	<array>
		<string>aaa</string>
		<string>aarp</string>
		<string>abb</string>
		<string>abbott</string>
		<string>abbvie</string>
		<string>abogado</string>
		<string>abudhabi</string>
		<string>ac</string>
		<string>academy</string>
		<string>accenture</string>
		<string>accountant</string>
		<string>accountants</string>
		<string>aco</string>
		<string>active</string>
		<string>actor</string>
		<string>ad</string>
		<string>adac</string>
		<string>ads</string>
		<string>adult</string>
		<string>ae</string>
		<string>aeg</string>
		<string>aero</string>
		<string>af</string>
		<string>afl</string>
		<string>ag</string>
		<string>agakhan</string>
		<string>agency</string>
		<string>ai</string>
		<string>aig</string>
		<string>airforce</string>
		<string>airtel</string>
		<string>akdn</string>
		<string>al</string>
		<string>alibaba</string>
		<string>alipay</string>
		<string>allfinanz</string>
		<string>ally</string>
		<string>alsace</string>
		<string>am</string>
		<string>amica</string>
		<string>amsterdam</string>
		<string>analytics</string>
		<string>android</string>
		<string>anquan</string>
		<string>ao</string>
		<string>apartments</string>
		<string>app</string>
		<string>apple</string>
		<string>aq</string>
		<string>aquarelle</string>
		<string>ar</string>
		<string>aramco</string>
		<string>archi</string>
		<string>army</string>
		<string>arpa</string>
		<string>arte</string>
		<string>as</string>
		<string>asia</string>
		<string>associates</string>
		<string>at</string>
		<string>attorney</string>
		<string>au</string>
		<string>auction</string>
		<string>audi</string>
		<string>audio</string>
		<string>author</string>
		<string>auto</string>
		<string>autos</string>
		<string>avianca</string>
		<string>aw</string>
		<string>aws</string>
		<string>ax</string>
		<string>axa</string>
		<string>az</string>
		<string>azure</string>
		<string>ba</string>
		<string>baby</string>
		<string>baidu</string>
		<string>band</string>
		<string>bank</string>
		<string>bar</string>
		<string>barcelona</string>
		<string>barclaycard</string>
		<string>barclays</string>
		<string>barefoot</string>
		<string>bargains</string>
		<string>bauhaus</string>
		<string>bayern</string>
		<string>bb</string>
		<string>bbc</string>
		<string>bbva</string>
		<string>bcg</string>
		<string>bcn</string>
		<string>bd</string>
		<string>be</string>
		<string>beats</string>
		<string>beer</string>
		<string>bentley</string>
		<string>berlin</string>
		<string>best</string>
		<string>bet</string>
		<string>bf</string>
		<string>bg</string>
		<string>bh</string>
		<string>bharti</string>
		<string>bi</string>
		<string>bible</string>
		<string>bid</string>
		<string>bike</string>
		<string>bing</string>
		<string>bingo</string>
		<string>bio</string>
		<string>biz</string>
		<string>bj</string>
		<string>black</string>
		<string>blackfriday</string>
		<string>bloomberg</string>
		<string>blue</string>
		<string>bm</string>
		<string>bms</string>
		<string>bmw</string>
		<string>bn</string>
		<string>bnl</string>
		<string>bnpparibas</string>
		<string>bo</string>
		<string>boats</string>
		<string>boehringer</string>
		<string>bom</string>
		<string>bond</string>
		<string>boo</string>
		<string>book</string>
		<string>boots</string>
		<string>bosch</string>
		<string>bostik</string>
		<string>bot</string>
		<string>boutique</string>
		<string>br</string>
		<string>bradesco</string>
		<string>bridgestone</string>
		<string>broadway</string>
		<string>broker</string>
		<string>brother</string>
		<string>brussels</string>
		<string>bs</string>
		<string>bt</string>
		<string>budapest</string>
		<string>bugatti</string>
		<string>build</string>
		<string>builders</string>
		<string>business</string>
		<string>buy</string>
		<string>buzz</string>
		<string>bv</string>
		<string>bw</string>
		<string>by</string>
		<string>bz</string>
		<string>bzh</string>
		<string>ca</string>
		<string>cab</string>
		<string>cafe</string>
		<string>cal</string>
		<string>call</string>
		<string>camera</string>
		<string>camp</string>
		<string>cancerresearch</string>
		<string>canon</string>
		<string>capetown</string>
		<string>capital</string>
		<string>car</string>
		<string>caravan</string>
		<string>cards</string>
		<string>care</string>
		<string>career</string>
		<string>careers</string>
		<string>cars</string>
		<string>cartier</string>
		<string>casa</string>
		<string>cash</string>
		<string>casino</string>
		<string>cat</string>
		<string>catering</string>
		<string>cba</string>
		<string>cbn</string>
		<string>cc</string>
		<string>cd</string>
		<string>ceb</string>
		<string>center</string>
		<string>ceo</string>
		<string>cern</string>
		<string>cf</string>
		<string>cfa</string>
		<string>cfd</string>
		<string>cg</string>
		<string>ch</string>
		<string>chanel</string>
		<string>channel</string>
		<string>chase</string>
		<string>chat</string>
		<string>cheap</string>
		<string>chloe</string>
		<string>christmas</string>
		<string>chrome</string>
		<string>church</string>
		<string>ci</string>
		<string>cipriani</string>
		<string>circle</string>
		<string>cisco</string>
		<string>citic</string>
		<string>city</string>
		<string>cityeats</string>
		<string>ck</string>
		<string>cl</string>
		<string>claims</string>
		<string>cleaning</string>
		<string>click</string>
		<string>clinic</string>
		<string>clinique</string>
		<string>clothing</string>
		<string>cloud</string>
		<string>club</string>
		<string>clubmed</string>
		<string>cm</string>
		<string>cn</string>
		<string>co</string>
		<string>coach</string>
		<string>codes</string>
		<string>coffee</string>
		<string>college</string>
		<string>cologne</string>
		<string>com</string>
		<string>commbank</string>
		<string>community</string>
		<string>company</string>
		<string>compare</string>
		<string>computer</string>
		<string>comsec</string>
		<string>condos</string>
		<string>construction</string>
		<string>consulting</string>
		<string>contact</string>
		<string>contractors</string>
		<string>cooking</string>
		<string>cool</string>
		<string>coop</string>
		<string>corsica</string>
		<string>country</string>
		<string>coupon</string>
		<string>coupons</string>
		<string>courses</string>
		<string>cr</string>
		<string>credit</string>
		<string>creditcard</string>
		<string>creditunion</string>
		<string>cricket</string>
		<string>crown</string>
		<string>crs</string>
		<string>cruises</string>
		<string>csc</string>
		<string>cu</string>
		<string>cuisinella</string>
		<string>cv</string>
		<string>cw</string>
		<string>cx</string>
		<string>cy</string>
		<string>cymru</string>
		<string>cyou</string>
		<string>cz</string>
		<string>dabur</string>
		<string>dad</string>
		<string>dance</string>
		<string>date</string>
		<string>dating</string>
		<string>datsun</string>
		<string>day</string>
		<string>dclk</string>
		<string>dds</string>
		<string>de</string>
		<string>dealer</string>
		<string>deals</string>
		<string>degree</string>
		<string>delivery</string>
		<string>dell</string>
		<string>deloitte</string>
		<string>delta</string>
		<string>democrat</string>
		<string>dental</string>
		<string>dentist</string>
		<string>desi</string>
		<string>design</string>
		<string>dev</string>
		<string>diamonds</string>
		<string>diet</string>
		<string>digital</string>
		<string>direct</string>
		<string>directory</string>
		<string>discount</string>
		<string>dj</string>
		<string>dk</string>
		<string>dm</string>
		<string>dnp</string>
		<string>do</string>
		<string>docs</string>
		<string>dog</string>
		<string>doha</string>
		<string>domains</string>
		<string>download</string>
		<string>drive</string>
		<string>dubai</string>
		<string>durban</string>
		<string>dvag</string>
		<string>dz</string>
		<string>earth</string>
		<string>eat</string>
		<string>ec</string>
		<string>edeka</string>
		<string>edu</string>
		<string>education</string>
		<string>ee</string>
		<string>eg</string>
		<string>email</string>
		<string>emerck</string>
		<string>energy</string>
		<string>engineer</string>
		<string>engineering</string>
		<string>enterprises</string>
		<string>epson</string>
		<string>equipment</string>
		<string>er</string>
		<string>erni</string>
		<string>es</string>
		<string>esq</string>
		<string>estate</string>
		<string>et</string>
		<string>eu</string>
		<string>eurovision</string>
		<string>eus</string>
		<string>events</string>
		<string>everbank</string>
		<string>exchange</string>
		<string>expert</string>
		<string>exposed</string>
		<string>express</string>
		<string>extraspace</string>
		<string>fage</string>
		<string>fail</string>
		<string>fairwinds</string>
		<string>faith</string>
		<string>family</string>
		<string>fan</string>
		<string>fans</string>
		<string>farm</string>
		<string>fashion</string>
		<string>fast</string>
		<string>feedback</string>
		<string>ferrero</string>
		<string>fi</string>
		<string>film</string>
		<string>final</string>
		<string>finance</string>
		<string>financial</string>
		<string>firestone</string>
		<string>firmdale</string>
		<string>fish</string>
		<string>fishing</string>
		<string>fit</string>
		<string>fitness</string>
		<string>fj</string>
		<string>fk</string>
		<string>flickr</string>
		<string>flights</string>
		<string>flir</string>
		<string>florist</string>
		<string>flowers</string>
		<string>flsmidth</string>
		<string>fly</string>
		<string>fm</string>
		<string>fo</string>
		<string>foo</string>
		<string>football</string>
		<string>ford</string>
		<string>forex</string>
		<string>forsale</string>
		<string>forum</string>
		<string>foundation</string>
		<string>fox</string>
		<string>fr</string>
		<string>fresenius</string>
		<string>frl</string>
		<string>frogans</string>
		<string>frontier</string>
		<string>ftr</string>
		<string>fund</string>
		<string>furniture</string>
		<string>futbol</string>
		<string>fyi</string>
		<string>ga</string>
		<string>gal</string>
		<string>gallery</string>
		<string>gallo</string>
		<string>gallup</string>
		<string>game</string>
		<string>garden</string>
		<string>gb</string>
		<string>gbiz</string>
		<string>gd</string>
		<string>gdn</string>
		<string>ge</string>
		<string>gea</string>
		<string>gent</string>
		<string>genting</string>
		<string>gf</string>
		<string>gg</string>
		<string>ggee</string>
		<string>gh</string>
		<string>gi</string>
		<string>gift</string>
		<string>gifts</string>
		<string>gives</string>
		<string>giving</string>
		<string>gl</string>
		<string>glass</string>
		<string>gle</string>
		<string>global</string>
		<string>globo</string>
		<string>gm</string>
		<string>gmail</string>
		<string>gmbh</string>
		<string>gmo</string>
		<string>gmx</string>
		<string>gn</string>
		<string>gold</string>
		<string>goldpoint</string>
		<string>golf</string>
		<string>goo</string>
		<string>goog</string>
		<string>google</string>
		<string>gop</string>
		<string>got</string>
		<string>gov</string>
		<string>gp</string>
		<string>gq</string>
		<string>gr</string>
		<string>grainger</string>
		<string>graphics</string>
		<string>gratis</string>
		<string>green</string>
		<string>gripe</string>
		<string>group</string>
		<string>gs</string>
		<string>gt</string>
		<string>gu</string>
		<string>guardian</string>
		<string>gucci</string>
		<string>guge</string>
		<string>guide</string>
		<string>guitars</string>
		<string>guru</string>
		<string>gw</string>
		<string>gy</string>
		<string>hamburg</string>
		<string>hangout</string>
		<string>haus</string>
		<string>hdfcbank</string>
		<string>health</string>
		<string>healthcare</string>
		<string>help</string>
		<string>helsinki</string>
		<string>here</string>
		<string>hermes</string>
		<string>hiphop</string>
		<string>hitachi</string>
		<string>hiv</string>
		<string>hk</string>
		<string>hkt</string>
		<string>hm</string>
		<string>hn</string>
		<string>hockey</string>
		<string>holdings</string>
		<string>holiday</string>
		<string>homedepot</string>
		<string>homes</string>
		<string>honda</string>
		<string>horse</string>
		<string>host</string>
		<string>hosting</string>
		<string>hoteles</string>
		<string>hotmail</string>
		<string>house</string>
		<string>how</string>
		<string>hr</string>
		<string>hsbc</string>
		<string>ht</string>
		<string>htc</string>
		<string>hu</string>
		<string>hyundai</string>
		<string>ibm</string>
		<string>icbc</string>
		<string>ice</string>
		<string>icu</string>
		<string>id</string>
		<string>ie</string>
		<string>ifm</string>
		<string>iinet</string>
		<string>il</string>
		<string>im</string>
		<string>imamat</string>
		<string>immo</string>
		<string>immobilien</string>
		<string>in</string>
		<string>industries</string>
		<string>infiniti</string>
		<string>info</string>
		<string>ing</string>
		<string>ink</string>
		<string>institute</string>
		<string>insurance</string>
		<string>insure</string>
		<string>int</string>
		<string>international</string>
		<string>investments</string>
		<string>io</string>
		<string>ipiranga</string>
		<string>iq</string>
		<string>ir</string>
		<string>irish</string>
		<string>is</string>
		<string>iselect</string>
		<string>ismaili</string>
		<string>ist</string>
		<string>istanbul</string>
		<string>it</string>
		<string>itau</string>
		<string>iwc</string>
		<string>jaguar</string>
		<string>java</string>
		<string>jcb</string>
		<string>jcp</string>
		<string>je</string>
		<string>jetzt</string>
		<string>jewelry</string>
		<string>jlc</string>
		<string>jll</string>
		<string>jm</string>
		<string>jmp</string>
		<string>jnj</string>
		<string>jo</string>
		<string>jobs</string>
		<string>joburg</string>
		<string>jot</string>
		<string>joy</string>
		<string>jp</string>
		<string>jpmorgan</string>
		<string>jprs</string>
		<string>juegos</string>
		<string>kaufen</string>
		<string>kddi</string>
		<string>ke</string>
		<string>kerryhotels</string>
		<string>kerrylogistics</string>
		<string>kerryproperties</string>
		<string>kfh</string>
		<string>kg</string>
		<string>kh</string>
		<string>ki</string>
		<string>kia</string>
		<string>kim</string>
		<string>kinder</string>
		<string>kitchen</string>
		<string>kiwi</string>
		<string>km</string>
		<string>kn</string>
		<string>koeln</string>
		<string>komatsu</string>
		<string>kp</string>
		<string>kpmg</string>
		<string>kpn</string>
		<string>kr</string>
		<string>krd</string>
		<string>kred</string>
		<string>kuokgroup</string>
		<string>kw</string>
		<string>ky</string>
		<string>kyoto</string>
		<string>kz</string>
		<string>la</string>
		<string>lacaixa</string>
		<string>lamborghini</string>
		<string>lamer</string>
		<string>lancaster</string>
		<string>land</string>
		<string>landrover</string>
		<string>lanxess</string>
		<string>lasalle</string>
		<string>lat</string>
		<string>latrobe</string>
		<string>law</string>
		<string>lawyer</string>
		<string>lb</string>
		<string>lc</string>
		<string>lds</string>
		<string>lease</string>
		<string>leclerc</string>
		<string>legal</string>
		<string>lexus</string>
		<string>lgbt</string>
		<string>li</string>
		<string>liaison</string>
		<string>lidl</string>
		<string>life</string>
		<string>lifeinsurance</string>
		<string>lifestyle</string>
		<string>lighting</string>
		<string>like</string>
		<string>limited</string>
		<string>limo</string>
		<string>lincoln</string>
		<string>linde</string>
		<string>link</string>
		<string>lipsy</string>
		<string>live</string>
		<string>living</string>
		<string>lixil</string>
		<string>lk</string>
		<string>loan</string>
		<string>loans</string>
		<string>locus</string>
		<string>lol</string>
		<string>london</string>
		<string>lotte</string>
		<string>lotto</string>
		<string>love</string>
		<string>lr</string>
		<string>ls</string>
		<string>lt</string>
		<string>ltd</string>
		<string>ltda</string>
		<string>lu</string>
		<string>lupin</string>
		<string>luxe</string>
		<string>luxury</string>
		<string>lv</string>
		<string>ly</string>
		<string>ma</string>
		<string>madrid</string>
		<string>maif</string>
		<string>maison</string>
		<string>makeup</string>
		<string>man</string>
		<string>management</string>
		<string>mango</string>
		<string>market</string>
		<string>marketing</string>
		<string>markets</string>
		<string>marriott</string>
		<string>mba</string>
		<string>mc</string>
		<string>md</string>
		<string>me</string>
		<string>med</string>
		<string>media</string>
		<string>meet</string>
		<string>melbourne</string>
		<string>meme</string>
		<string>memorial</string>
		<string>men</string>
		<string>menu</string>
		<string>meo</string>
		<string>metlife</string>
		<string>mg</string>
		<string>mh</string>
		<string>miami</string>
		<string>microsoft</string>
		<string>mil</string>
		<string>mini</string>
		<string>mk</string>
		<string>ml</string>
		<string>mls</string>
		<string>mm</string>
		<string>mma</string>
		<string>mn</string>
		<string>mo</string>
		<string>mobi</string>
		<string>mobily</string>
		<string>moda</string>
		<string>moe</string>
		<string>moi</string>
		<string>mom</string>
		<string>monash</string>
		<string>money</string>
		<string>montblanc</string>
		<string>mormon</string>
		<string>mortgage</string>
		<string>moscow</string>
		<string>motorcycles</string>
		<string>mov</string>
		<string>movie</string>
		<string>movistar</string>
		<string>mp</string>
		<string>mq</string>
		<string>mr</string>
		<string>ms</string>
		<string>mt</string>
		<string>mtn</string>
		<string>mtpc</string>
		<string>mtr</string>
		<string>mu</string>
		<string>museum</string>
		<string>mutual</string>
		<string>mutuelle</string>
		<string>mv</string>
		<string>mw</string>
		<string>mx</string>
		<string>my</string>
		<string>mz</string>
		<string>na</string>
		<string>nadex</string>
		<string>nagoya</string>
		<string>name</string>
		<string>natura</string>
		<string>navy</string>
		<string>nc</string>
		<string>ne</string>
		<string>nec</string>
		<string>net</string>
		<string>netbank</string>
		<string>network</string>
		<string>neustar</string>
		<string>new</string>
		<string>news</string>
		<string>next</string>
		<string>nextdirect</string>
		<string>nexus</string>
		<string>nf</string>
		<string>ng</string>
		<string>ngo</string>
		<string>nhk</string>
		<string>ni</string>
		<string>nico</string>
		<string>nikon</string>
		<string>ninja</string>
		<string>nissan</string>
		<string>nissay</string>
		<string>nl</string>
		<string>no</string>
		<string>nokia</string>
		<string>northwesternmutual</string>
		<string>norton</string>
		<string>nowruz</string>
		<string>nowtv</string>
		<string>np</string>
		<string>nr</string>
		<string>nra</string>
		<string>nrw</string>
		<string>ntt</string>
		<string>nu</string>
		<string>nyc</string>
		<string>nz</string>
		<string>obi</string>
		<string>office</string>
		<string>okinawa</string>
		<string>olayan</string>
		<string>olayangroup</string>
		<string>om</string>
		<string>omega</string>
		<string>one</string>
		<string>ong</string>
		<string>onl</string>
		<string>online</string>
		<string>ooo</string>
		<string>oracle</string>
		<string>orange</string>
		<string>org</string>
		<string>organic</string>
		<string>origins</string>
		<string>osaka</string>
		<string>otsuka</string>
		<string>ovh</string>
		<string>pa</string>
		<string>page</string>
		<string>pamperedchef</string>
		<string>panerai</string>
		<string>paris</string>
		<string>pars</string>
		<string>partners</string>
		<string>parts</string>
		<string>party</string>
		<string>passagens</string>
		<string>pccw</string>
		<string>pe</string>
		<string>pet</string>
		<string>pf</string>
		<string>pg</string>
		<string>ph</string>
		<string>pharmacy</string>
		<string>philips</string>
		<string>photo</string>
		<string>photography</string>
		<string>photos</string>
		<string>physio</string>
		<string>piaget</string>
		<string>pics</string>
		<string>pictet</string>
		<string>pictures</string>
		<string>pid</string>
		<string>pin</string>
		<string>ping</string>
		<string>pink</string>
		<string>pizza</string>
		<string>pk</string>
		<string>pl</string>
		<string>place</string>
		<string>play</string>
		<string>playstation</string>
		<string>plumbing</string>
		<string>plus</string>
		<string>pm</string>
		<string>pn</string>
		<string>pohl</string>
		<string>poker</string>
		<string>porn</string>
		<string>post</string>
		<string>pr</string>
		<string>praxi</string>
		<string>press</string>
		<string>pro</string>
		<string>prod</string>
		<string>productions</string>
		<string>prof</string>
		<string>progressive</string>
		<string>promo</string>
		<string>properties</string>
		<string>property</string>
		<string>protection</string>
		<string>ps</string>
		<string>pt</string>
		<string>pub</string>
		<string>pw</string>
		<string>pwc</string>
		<string>py</string>
		<string>qa</string>
		<string>qpon</string>
		<string>quebec</string>
		<string>quest</string>
		<string>racing</string>
		<string>re</string>
		<string>read</string>
		<string>realtor</string>
		<string>realty</string>
		<string>recipes</string>
		<string>red</string>
		<string>redstone</string>
		<string>redumbrella</string>
		<string>rehab</string>
		<string>reise</string>
		<string>reisen</string>
		<string>reit</string>
		<string>ren</string>
		<string>rent</string>
		<string>rentals</string>
		<string>repair</string>
		<string>report</string>
		<string>republican</string>
		<string>rest</string>
		<string>restaurant</string>
		<string>review</string>
		<string>reviews</string>
		<string>rexroth</string>
		<string>rich</string>
		<string>richardli</string>
		<string>ricoh</string>
		<string>rio</string>
		<string>rip</string>
		<string>ro</string>
		<string>rocher</string>
		<string>rocks</string>
		<string>rodeo</string>
		<string>room</string>
		<string>rs</string>
		<string>rsvp</string>
		<string>ru</string>
		<string>ruhr</string>
		<string>run</string>
		<string>rw</string>
		<string>rwe</string>
		<string>ryukyu</string>
		<string>sa</string>
		<string>saarland</string>
		<string>safe</string>
		<string>safety</string>
		<string>sakura</string>
		<string>sale</string>
		<string>salon</string>
		<string>samsung</string>
		<string>sandvik</string>
		<string>sandvikcoromant</string>
		<string>sanofi</string>
		<string>sap</string>
		<string>sapo</string>
		<string>sarl</string>
		<string>sas</string>
		<string>saxo</string>
		<string>sb</string>
		<string>sbi</string>
		<string>sbs</string>
		<string>sc</string>
		<string>sca</string>
		<string>scb</string>
		<string>schaeffler</string>
		<string>schmidt</string>
		<string>scholarships</string>
		<string>school</string>
		<string>schule</string>
		<string>schwarz</string>
		<string>science</string>
		<string>scor</string>
		<string>scot</string>
		<string>sd</string>
		<string>se</string>
		<string>seat</string>
		<string>security</string>
		<string>seek</string>
		<string>select</string>
		<string>sener</string>
		<string>services</string>
		<string>seven</string>
		<string>sew</string>
		<string>sex</string>
		<string>sexy</string>
		<string>sfr</string>
		<string>sg</string>
		<string>sh</string>
		<string>sharp</string>
		<string>shaw</string>
		<string>shell</string>
		<string>shia</string>
		<string>shiksha</string>
		<string>shoes</string>
		<string>shouji</string>
		<string>show</string>
		<string>shriram</string>
		<string>si</string>
		<string>sina</string>
		<string>singles</string>
		<string>site</string>
		<string>sj</string>
		<string>sk</string>
		<string>ski</string>
		<string>skin</string>
		<string>sky</string>
		<string>skype</string>
		<string>sl</string>
		<string>sm</string>
		<string>smile</string>
		<string>sn</string>
		<string>sncf</string>
		<string>so</string>
		<string>soccer</string>
		<string>social</string>
		<string>softbank</string>
		<string>software</string>
		<string>sohu</string>
		<string>solar</string>
		<string>solutions</string>
		<string>song</string>
		<string>sony</string>
		<string>soy</string>
		<string>space</string>
		<string>spiegel</string>
		<string>spot</string>
		<string>spreadbetting</string>
		<string>sr</string>
		<string>srl</string>
		<string>st</string>
		<string>stada</string>
		<string>star</string>
		<string>starhub</string>
		<string>statebank</string>
		<string>statefarm</string>
		<string>statoil</string>
		<string>stc</string>
		<string>stcgroup</string>
		<string>stockholm</string>
		<string>storage</string>
		<string>store</string>
		<string>stream</string>
		<string>studio</string>
		<string>study</string>
		<string>style</string>
		<string>su</string>
		<string>sucks</string>
		<string>supplies</string>
		<string>supply</string>
		<string>support</string>
		<string>surf</string>
		<string>surgery</string>
		<string>suzuki</string>
		<string>sv</string>
		<string>swatch</string>
		<string>swiss</string>
		<string>sx</string>
		<string>sy</string>
		<string>sydney</string>
		<string>symantec</string>
		<string>systems</string>
		<string>sz</string>
		<string>tab</string>
		<string>taipei</string>
		<string>talk</string>
		<string>taobao</string>
		<string>tatamotors</string>
		<string>tatar</string>
		<string>tattoo</string>
		<string>tax</string>
		<string>taxi</string>
		<string>tc</string>
		<string>tci</string>
		<string>td</string>
		<string>team</string>
		<string>tech</string>
		<string>technology</string>
		<string>tel</string>
		<string>telecity</string>
		<string>telefonica</string>
		<string>temasek</string>
		<string>tennis</string>
		<string>teva</string>
		<string>tf</string>
		<string>tg</string>
		<string>th</string>
		<string>thd</string>
		<string>theater</string>
		<string>theatre</string>
		<string>tickets</string>
		<string>tienda</string>
		<string>tiffany</string>
		<string>tips</string>
		<string>tires</string>
		<string>tirol</string>
		<string>tj</string>
		<string>tk</string>
		<string>tl</string>
		<string>tm</string>
		<string>tmall</string>
		<string>tn</string>
		<string>to</string>
		<string>today</string>
		<string>tokyo</string>
		<string>tools</string>
		<string>top</string>
		<string>toray</string>
		<string>toshiba</string>
		<string>total</string>
		<string>tours</string>
		<string>town</string>
		<string>toyota</string>
		<string>toys</string>
		<string>tr</string>
		<string>trade</string>
		<string>trading</string>
		<string>training</string>
		<string>travel</string>
		<string>travelers</string>
		<string>travelersinsurance</string>
		<string>trust</string>
		<string>trv</string>
		<string>tt</string>
		<string>tube</string>
		<string>tui</string>
		<string>tunes</string>
		<string>tushu</string>
		<string>tv</string>
		<string>tvs</string>
		<string>tw</string>
		<string>tz</string>
		<string>ua</string>
		<string>ubs</string>
		<string>ug</string>
		<string>uk</string>
		<string>unicom</string>
		<string>university</string>
		<string>uno</string>
		<string>uol</string>
		<string>us</string>
		<string>uy</string>
		<string>uz</string>
		<string>va</string>
		<string>vacations</string>
		<string>vana</string>
		<string>vc</string>
		<string>ve</string>
		<string>vegas</string>
		<string>ventures</string>
		<string>verisign</string>
		<string>versicherung</string>
		<string>vet</string>
		<string>vg</string>
		<string>vi</string>
		<string>viajes</string>
		<string>video</string>
		<string>vig</string>
		<string>viking</string>
		<string>villas</string>
		<string>vin</string>
		<string>vip</string>
		<string>virgin</string>
		<string>vision</string>
		<string>vista</string>
		<string>vistaprint</string>
		<string>viva</string>
		<string>vlaanderen</string>
		<string>vn</string>
		<string>vodka</string>
		<string>volkswagen</string>
		<string>vote</string>
		<string>voting</string>
		<string>voto</string>
		<string>voyage</string>
		<string>vu</string>
		<string>vuelos</string>
		<string>wales</string>
		<string>walter</string>
		<string>wang</string>
		<string>wanggou</string>
		<string>warman</string>
		<string>watch</string>
		<string>watches</string>
		<string>weather</string>
		<string>weatherchannel</string>
		<string>webcam</string>
		<string>weber</string>
		<string>website</string>
		<string>wed</string>
		<string>wedding</string>
		<string>weibo</string>
		<string>weir</string>
		<string>wf</string>
		<string>whoswho</string>
		<string>wien</string>
		<string>wiki</string>
		<string>williamhill</string>
		<string>win</string>
		<string>windows</string>
		<string>wine</string>
		<string>wme</string>
		<string>wolterskluwer</string>
		<string>work</string>
		<string>works</string>
		<string>world</string>
		<string>ws</string>
		<string>wtc</string>
		<string>wtf</string>
		<string>xbox</string>
		<string>xerox</string>
		<string>xihuan</string>
		<string>xin</string>
		<string>xn--11b4c3d</string>
		<string>xn--1ck2e1b</string>
		<string>xn--1qqw23a</string>
		<string>xn--30rr7y</string>
		<string>xn--3bst00m</string>
		<string>xn--3ds443g</string>
		<string>xn--3e0b707e</string>
		<string>xn--3pxu8k</string>
		<string>xn--42c2d9a</string>
		<string>xn--45brj9c</string>
		<string>xn--45q11c</string>
		<string>xn--4gbrim</string>
		<string>xn--55qw42g</string>
		<string>xn--55qx5d</string>
		<string>xn--5tzm5g</string>
		<string>xn--6frz82g</string>
		<string>xn--6qq986b3xl</string>
		<string>xn--80adxhks</string>
		<string>xn--80ao21a</string>
		<string>xn--80asehdb</string>
		<string>xn--80aswg</string>
		<string>xn--8y0a063a</string>
		<string>xn--90a3ac</string>
		<string>xn--90ais</string>
		<string>xn--9dbq2a</string>
		<string>xn--9et52u</string>
		<string>xn--9krt00a</string>
		<string>xn--b4w605ferd</string>
		<string>xn--bck1b9a5dre4c</string>
		<string>xn--c1avg</string>
		<string>xn--c2br7g</string>
		<string>xn--cck2b3b</string>
		<string>xn--cg4bki</string>
		<string>xn--clchc0ea0b2g2a9gcd</string>
		<string>xn--czr694b</string>
		<string>xn--czrs0t</string>
		<string>xn--czru2d</string>
		<string>xn--d1acj3b</string>
		<string>xn--d1alf</string>
		<string>xn--e1a4c</string>
		<string>xn--eckvdtc9d</string>
		<string>xn--efvy88h</string>
		<string>xn--estv75g</string>
		<string>xn--fct429k</string>
		<string>xn--fhbei</string>
		<string>xn--fiq228c5hs</string>
		<string>xn--fiq64b</string>
		<string>xn--fiqs8s</string>
		<string>xn--fiqz9s</string>
		<string>xn--fjq720a</string>
		<string>xn--flw351e</string>
		<string>xn--fpcrj9c3d</string>
		<string>xn--fzc2c9e2c</string>
		<string>xn--fzys8d69uvgm</string>
		<string>xn--g2xx48c</string>
		<string>xn--gckr3f0f</string>
		<string>xn--gecrj9c</string>
		<string>xn--h2brj9c</string>
		<string>xn--hxt814e</string>
		<string>xn--i1b6b1a6a2e</string>
		<string>xn--imr513n</string>
		<string>xn--io0a7i</string>
		<string>xn--j1aef</string>
		<string>xn--j1amh</string>
		<string>xn--j6w193g</string>
		<string>xn--jlq61u9w7b</string>
		<string>xn--jvr189m</string>
		<string>xn--kcrx77d1x4a</string>
		<string>xn--kprw13d</string>
		<string>xn--kpry57d</string>
		<string>xn--kpu716f</string>
		<string>xn--kput3i</string>
		<string>xn--l1acc</string>
		<string>xn--lgbbat1ad8j</string>
		<string>xn--mgb9awbf</string>
		<string>xn--mgba3a3ejt</string>
		<string>xn--mgba3a4f16a</string>
		<string>xn--mgba7c0bbn0a</string>
		<string>xn--mgbaam7a8h</string>
		<string>xn--mgbab2bd</string>
		<string>xn--mgbayh7gpa</string>
		<string>xn--mgbb9fbpob</string>
		<string>xn--mgbbh1a71e</string>
		<string>xn--mgbc0a9azcg</string>
		<string>xn--mgbca7dzdo</string>
		<string>xn--mgberp4a5d4ar</string>
		<string>xn--mgbpl2fh</string>
		<string>xn--mgbt3dhd</string>
		<string>xn--mgbtx2b</string>
		<string>xn--mgbx4cd0ab</string>
		<string>xn--mix891f</string>
		<string>xn--mk1bu44c</string>
		<string>xn--mxtq1m</string>
		<string>xn--ngbc5azd</string>
		<string>xn--ngbe9e0a</string>
		<string>xn--node</string>
		<string>xn--nqv7f</string>
		<string>xn--nqv7fs00ema</string>
		<string>xn--nyqy26a</string>
		<string>xn--o3cw4h</string>
		<string>xn--ogbpf8fl</string>
		<string>xn--p1acf</string>
		<string>xn--p1ai</string>
		<string>xn--pbt977c</string>
		<string>xn--pgbs0dh</string>
		<string>xn--pssy2u</string>
		<string>xn--q9jyb4c</string>
		<string>xn--qcka1pmc</string>
		<string>xn--qxam</string>
		<string>xn--rhqv96g</string>
		<string>xn--rovu88b</string>
		<string>xn--s9brj9c</string>
		<string>xn--ses554g</string>
		<string>xn--t60b56a</string>
		<string>xn--tckwe</string>
		<string>xn--unup4y</string>
		<string>xn--vermgensberater-ctb</string>
		<string>xn--vermgensberatung-pwb</string>
		<string>xn--vhquv</string>
		<string>xn--vuq861b</string>
		<string>xn--w4r85el8fhu5dnra</string>
		<string>xn--wgbh1c</string>
		<string>xn--wgbl6a</string>
		<string>xn--xhq521b</string>
		<string>xn--xkc2al3hye2a</string>
		<string>xn--xkc2dl3a5ee0h</string>
		<string>xn--y9a3aq</string>
		<string>xn--yfro4i67o</string>
		<string>xn--ygbi2ammx</string>
		<string>xn--zfr164b</string>
		<string>xperia</string>
		<string>xxx</string>
		<string>xyz</string>
		<string>yachts</string>
		<string>yahoo</string>
		<string>yamaxun</string>
		<string>yandex</string>
		<string>ye</string>
		<string>yodobashi</string>
		<string>yoga</string>
		<string>yokohama</string>
		<string>you</string>
		<string>youtube</string>
		<string>yt</string>
		<string>yun</string>
		<string>za</string>
		<string>zara</string>
		<string>zero</string>
		<string>zip</string>
		<string>zm</string>
		<string>zone</string>
		<string>zuerich</string>
		<string>zw</string>
	</array>
</dict>
</plist>
