name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  PACKAGE_NAME: SpotHeroEmailValidator
  XCODEBUILD_WORKSPACE: SpotHeroEmailValidator.xcworkspace
  XCODEBUILD_SCHEME: SpotHeroEmailValidator
  DEVELOPER_DIR: /Applications/Xcode_12.4.app/Contents/Developer
  DEPLOY_DIRECTORY: deploy

jobs:
  lint:
    name: Lint
    runs-on: macos-latest
    env:
      DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          bundle install
          brew install swiftformat
      - name: Run Danger
        run: sh ./scripts/danger_lint.sh
  iOS:
    name: iOS ${{ matrix.os }} ${{ matrix.device_name }}
    runs-on: macos-latest
    needs: [lint]
    strategy:
      matrix:
        device_name: ["iPhone 12 Pro", "iPad Pro (11-inch) (2nd generation)"]
        os: [14.4]
        xcode_version: [12.4]
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode_version }}.app/Contents/Developer"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/xcode_build.sh "name=${{ matrix.device_name }},OS=${{ matrix.os }},platform=iOS Simulator"
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: "iOS ${{ matrix.os }} ${{ matrix.device_name }} Output"
          path: ${{ env.DEPLOY_DIRECTORY }}
  macOS:
    name: macOS
    runs-on: macos-latest
    needs: [lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/xcode_build.sh "platform=macOS"
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: "macOS 10.15 Output"
          path: ${{ env.DEPLOY_DIRECTORY }}
  tvOS:
    name: tvOS ${{ matrix.os }} ${{ matrix.device_name }}
    runs-on: macos-latest
    needs: [lint]
    strategy:
      matrix:
        device_name: ["Apple TV 4K"]
        os: [14.3]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/xcode_build.sh "name=${{ matrix.device_name }},OS=${{ matrix.os }},platform=tvOS Simulator"
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: "tvOS ${{ matrix.os }} ${{ matrix.device_name }} Output"
          path: ${{ env.DEPLOY_DIRECTORY }}
  spm:
    name: SPM (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: [lint]
    strategy:
      matrix:
        os: [macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        run: sh ./scripts/swift_build.sh
      - name: Upload Step Output
        uses: actions/upload-artifact@v1
        with:
          name: SPM Output
          path: ${{ env.DEPLOY_DIRECTORY }}
